body { min-height: 100vh; }
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Fonts*/

@font-face {
  font-family: "BalooPaaji";
  src: url("./assets/fonts/BalooPaaji-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-Family: "Atkinson";
  src: url("./assets/fonts/Atkinson-Hyperlegible-Regular-102.otf")
}
@font-face {
  font-Family: "Poopins";
  src: url("./assets/fonts/Poppins-SemiBold.ttf")
}

@font-face {
  font-family: "WebSymbolsRegular";
  src: url('./assets/fonts/websymbols-regular-webfont.eot');
  src: url('./assets/fonts/websymbols-regular-webfont.eot?#iefix') format('embedded'),
    url('./assets/fonts/websymbols-regular-webfont.woff') format('woff'),
    url('./assets/fonts/websymbols-regular-webfont.ttf') format('truetype'),
    url('./assets/fonts/websymbols-regular-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*Fonts*/


/*page*/
.page{
  /* width: 1920px; */
  height: 6160px;
  flex-grow: 0;
  padding: 0 0 80px;
  background-color: #0f1624;
}
/*page*/

/*Navbar*/
.navbar{
  /* position: fixed; */
  box-shadow: 0 4px 4px 0 rgba(46, 56, 56, 0.51);
  border: solid 1.5px #000;
  /* width: 1920px; */
  height: 137px;
  flex-grow: 0;
  margin: 0 0 157px;
  padding: 44.7px 129px 44.7px 131.7px;
  background-color: #0f1624;
  
}
.navbar p:hover{
  /* color: rgba(46, 56, 56, 0.51); */
  transform: scale(1.3);

}
.navbar img:hover{
  transform: scale(1.5);
}
.navButtons{
  
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    text-align: center;
    padding: 0;
    color: aliceblue;
    font-Family: "Atkinson";
    /* margin-right: 65rem; */
    height: 100%;
    font-size: 33px;

}
.gitIconeImg{
  
  width: 32px;
  height: 32px;
  margin-top: 2.2rem;

}

/* .aboutMe {
  width: 124px;
  height: 45px;
  flex-grow: 0;
  /* margin: 1.3px 218px 1.3px 12.7px; */
  /* font-family: 'BalooPaaji';
  font-size: 70px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left; */
  /* color: #fff; */
/* } */ 
/* .proyects{
  width: 121px;
  height: 45px;
  flex-grow: 0;
  margin: -44.7px 98px 1.3px 218px;
  font-family: 'BalooPaaji';
  margin-left: 35rem;
  font-size: 70px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;

} */
/* .technologies{
  width: 202px;
  height: 45px;
  flex-grow: 0;
  margin: -43.7px 98px 1.3px;
  margin-left: 64rem;

  font-family: 'BalooPaaji';
  font-size: 70px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;

} */

/*About me section*/

.aboutMeDiv{
  /* border: solid white 1px; */
  color: aliceblue;
  font-family: "BalooPaaji";
  
  
  
  height: 700px;
}
.tittleMe{
  /* margin-right: 20rem; */
  font-size: 56px;
  margin-left: 10rem;

}
/* .textAboutMe{
  margin-left: 8rem;
    font-size: 22px;
    text-align: left;
} */
.textAboutMe{
  width: 583px;
  height: 162px;
  flex-grow: 0;
  /* margin: 34px 677px 73px 110px; */
  /* font-family: Poppins; */
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-left: 10rem;
  color: #bcbcbc;
}
.personalPhoto{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(46, 56, 56, 0.51);
  border: solid 1.5px #000;
  margin-left: 50rem;
  margin-bottom: 10rem;

}
.photo{
  margin-left: 10rem;
  margin-top: -43rem;
}
.botonCarShop{
  margin: 2rem;
  width: 342px;
  height: 56px;
  background: white;  
  box-shadow: 0 4px 4px 0 rgba(46, 56, 56, 0.51);

  opacity: 0.70;
  border-radius: 40px;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-family: 'Poppins', sans-serif;
  color: black;
  border: none;
  font-size: 20px;
  margin-left: 10rem;
}
.botonCarShop:hover {background-color: #818181}

.botonLogShop:active {
background-color: #070000;
box-shadow: 0 5px #666;
transform: translateY(4px);
}

/*ProjectsSection*/
.projects{
  width: 262px;
  height: 96px;
  flex-grow: 0;
  margin: 0 616px 93px 0;
  font-family: "BalooPaaji";
  
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.projectsTitle{
  margin-left: 10rem;
}
.Line-1 {
  background-color: #cdcdcd;
  height: 1px;
  /* margin: 23px 55px 20px 56px; */
  width: 80rem;
  margin-left: 7.5rem;
}
.taskDiv{
  /* margin:0; */
    width: 90rem;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 5rem;
    /* align-items: center; */
    
}
.taskProject{
  width: 500px;
  height: 560px;
  flex-grow: 0;
  margin: 93px 220px 97px 108px;
  padding: 25px 25px 45px;
  box-shadow: 0 0 12px 0 #fff;
  background-color: #0f1624;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;

}
.taskProject:hover{
  border: 3px solid white
}
.producto_img img{
  width: 350px;
  height: 200px;
  flex-grow: 0;
  margin: 0 0 25px;
  border-radius: 8px;
}
.taskTitle{
  width: 262px;
  height: 32px;
  flex-grow: 0;
  /* margin: 25px 159px 25px 158px; */
  margin-left: 3rem;
  text-align: cente;
  font-Family: "Poopins";
  font-size: 26px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.89;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.taskLine{
  width: 289px;
  height: 4px;
  flex-grow: 0;
  /* margin: 25px 100px; */
  margin-left: 2rem;
  border-radius: 83px;
  background-image: linear-gradient(to left, #13adc7 100%, #6978d1 33%, #945dd6 0%);
}
.tasktText{
  width: 280px;
  /* height: 168px; */
  flex-grow: 0;
  margin: 25px 0;
  font-Family: "Poopins";
  margin-left: 2.5rem;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
.btnTask{
  width: 200px;
  height: 60px;
  flex-grow: 0;
  font-family: 'Poppins', sans-serif;
  margin-left: 2rem;

  /* margin: 25px 300px 0 0; */
  padding: 15px 52px;
  border-radius: 83px;
  background: white;  
  box-shadow: 0 4px 4px 0 rgba(46, 56, 56, 0.51);
  /* background-image: linear-gradient(to left, #13adc7 100%, #6978d1 33%, #945dd6 0%); */
}
.btnTask:hover {background-color: #818181}

.btnTask:active {
background-color: #666;
box-shadow: 0 5px #666;
transform: translateY(4px);
}